
  ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: #f7e0a1;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
  }
  * {
    box-sizing: border-box;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .row {
    display: flex;
    justify-content: space-around;
  }
  
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
  }

  .student-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    margin-top: 25px;
    max-width: 250px;
    max-height: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  
  .card img {
    width: auto;
    max-height: 70%;
    border-radius: 5%;
    margin-bottom: 20px;
  }
  
  .card:last-child {
    margin-right: auto;
  }
  
  

